.fiche > *, article{
  margin-bottom: 25px;
}

.fiche-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FF6060;
}

.h1-location > h1 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

.h1-location > p {
  margin-top: 0;
  font-size: 14px;
}

.tags > span {
  color: white;
  background-color: #FF6060;
  margin: 0 10px 15px 0;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.more-about {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.host {
  display: flex;
  height: 60px;
  align-items: center;
  align-self: flex-end;
}

.host-identity {
margin: 0 10px;
color:#FF6060;
text-align: end;
}

.host-identity {
  display: flex;
  flex-direction: column;
}

.host-img {
  height: 60px;
  width: 60px;
}

.rate {
  place-self: center;
}

.host > img {
  border-radius: 50%;
}


@media (min-width: 1024px) {
  .fiche-header {
    flex-direction: row;
  }

  .more-about {
    flex-direction: column;
  }

  .rate {
    place-self: flex-end;
  }

  .fiche > *, .host, section{
    margin-bottom: 25px;
  }

  .infos {
    max-width: 80%;
  }
  
  .h1-location > h1 {
    font-size: 36px;
  }

  .h1-location > p {
    font-size: 18px;
  }

  .tags > span {
    font-size: 14px;
  }
}
