.main-header {
display: flex;
align-items: center;
position: relative;
  height: 111px;
  background: linear-gradient(322deg, rgba(135,135,135,0) 33%, rgba(50, 50, 50, 0.809) 100%), url(../../public/IMG.png);
  overflow: hidden;
  border-radius: 10px;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-img {
  position: absolute;
  object-fit: contain;
}

.main-header > h1 {
  color: white;
  position: relative;
  white-space: pre;
}

.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  border-radius: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 0;
}

@media (max-width: 1024px) {
  h1 {
    margin: auto 20px;
    font-size: 21px;
  }
}
@media (min-width: 1024px ) {
  .main-header {
    margin: auto;
    height: 220px ;
    border-radius: 25px;
  }
  
  h1{
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin: auto;
  }

  .cards{
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 20px 20px;
    margin: 50px 0;

  }

  .card {
    min-height: 340px;
  }
}